{% extends 'base.html.twig' %}

{% block stylesheets %}
    <style type="text/css">
        body {
            width: 100%;
            height: 100%;
            background-image: url('/images/bg.jpg');
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">
                            <a href="{{ url('_home') }}" title="Trang chủ">
                                <img width="50" src="{{ asset('images/logo-timquanhday-white.png') }}" alt="tìm quanh đây"/>
                            </a>
                        </h3>
                        <!--<nav>
                            <ul class="nav masthead-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Features</a></li>
                                <li><a href="#">Contact</a></li>
                            </ul>
                        </nav>-->
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Tìm Quanh Đây</h1>
                    <div class="lead search-form">
                        <form class="form-inline search-form" method="post" action="{{ url('_progress') }}">
                            <select name="radius" class="form-control search-dropdown">
                                <option value="0">Bán kính</option>
                                <option value="500">500m</option>
                                <option value="1000">1km</option>
                                <option value="2000">2km</option>
                                <option value="3000">3km</option>
                                <option value="4000">4km</option>
                            </select>
                            <input type="text" class="form-control search-box" data-toggle="modal" data-target="#place-types" placeholder="Lựa chọn loại địa điểm" readonly="readonly" />
                            <span class="glyphicon glyphicon-th" aria-hidden="true" data-toggle="modal" data-target="#place-types"></span>
                            <button type="submit" class="btn btn-default search-submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                    <p class="lead">"Tìm quanh đây" nhanh chóng định vị vị trí của bạn, đồng thời cho phép bạn chọn các địa điểm như bệnh viện, quán cafe, trạm xăng,... trong phạm vi bán kính xung quanh vị trí bạn đứng.</p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Một sản phẩm của<a href="http://http://vietobject.com/">VietObject</a>.</p>
                    </div>
                </div>

            </div>

            <!-- Modal -->
            <div class="modal fade" id="place-types" tabindex="-1" role="dialog" aria-labelledby="place-typesLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="place-typesLabel">Địa điểm</h4>
                  </div>
                  <div class="modal-body">
                    {% set index = 0 %}
                    {% for type in placeTypes %}
                        {% if (index % 3 ) == 0 %}
                        <div class="row">
                        {% endif %}
                        <div class="col-sm-4 type">
                            <div class="img-thumbnail">
                                <h4><a href="#" class="type-button">{{ type.name }}</a></h4>
                                <a href="#" class="type-button"><img src="{{ app.request.getSchemeAndHttpHost() }}/{{ type.thumbnail }}" /></a>
                                <span class="description">{{ type.description }}</span>
                                <span class="keyword">{{ type.keyword }}</span>
                            </div>
                        </div>
                        {% if ((index % 3 ) == 2) or (index == placeTypes|length) %}    
                        </div> 
                        {% endif %}
                        {% set index = index+1 %}
                    {% endfor %}
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Hoàn tất</button>
                  </div>
                </div>
              </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}
