{% extends 'base.html.twig' %}

{% block title %}Tìm các {{ placeTypeName }} quanh đây!{% endblock %}

{% block body %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <a class="navbar-brand" href="{{ url('_home') }}" title="Trang chủ">
                    <img height="20" src="{{ asset('images/logo-timquanhday.png') }}" alt="tìm quanh đây" />
                </a>
            </div>
            <div class="collapse navbar-collapse" id="main-menu">
                <ul class="nav navbar-nav">
                    <li>
                        <form class="form-inline search-form" method="post" action="{{ url('_progress') }}">
                            <select name="radius" class="form-control search-dropdown">
                                <option value="0">Bán kính</option>
                                {% for key, val in radiuses %}
                                {% if(key == radius) %}
                                <option value="{{ key }}" selected>{{ val }}</option>
                                {% else %}
                                <option value="{{ key }}">{{ val }}</option>
                                {% endif %}
                                {% endfor %}
                            </select>

                            <div class="has-feedback form-group">
                                <input type="text" class="form-control search-box" data-toggle="modal" data-target="#place-types" placeholder="{{ placeTypeName }}" readonly="readonly" />
                                <span class="glyphicon glyphicon-triangle-bottom form-control-feedback" aria-hidden="true"></span>
                            </div>
                        
                            <button type="submit" class="btn btn-success search-submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                        </form>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button id="reset" type="button" class="btn btn-info" onclick="removeDirections()">Trở về mặc định</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="page-content">
        <div class="right-pannel">
            <div id="right-pannel-info-expandbtn" class="label label-default">
                <a href="#">
                    <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
                    Chỉ đường
                </a>
            </div>
            <div id="right-pannel-info" class="panel panel-info">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div id="pannel-info-content" class="panel-body">
                    <div id="info-details"></div>
                    <div id="text-directions"></div>
                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>

    <!-- Modal -->
    <div class="modal fade" id="place-types" tabindex="-1" role="dialog" aria-labelledby="place-typesLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="place-typesLabel">Địa điểm</h4>
          </div>
          <div class="modal-body">
            {% set index = 0 %}
            {% for type in listPlaceTypes %}
                {% if (index % 3 ) == 0 %}
                <div class="row">
                {% endif %}
                <div class="col-sm-4 col-xs-4 type">
                    {% set style = '' %}
                    {% if(type.keyword) == keyword %}
                    {% set style = "style=border-color:#0088cc" %}
                    {% endif %}
                    <div class="img-thumbnail" {{ style }}>
                        <h4><a href="#" class="type-button">{{ type.name }}</a></h4>
                        <a href="#" class="type-button"><img src="{{ app.request.getSchemeAndHttpHost() }}/{{ type.thumbnail }}" /></a>
                        <span class="description">{{ type.description }}</span>
                        <span class="keyword">{{ type.keyword }}</span>
                    </div>
                </div>
                {% if ((index % 3 ) == 2) or (index == listPlaceTypes|length) %}    
                </div> 
                {% endif %}
                {% set index = index+1 %}
            {% endfor %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Hoàn tất</button>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        var map;
        var infowindow;

        function showPosition(position) {
            var lat = position.coords.latitude;
            var lng = position.coords.longitude;

            window.pyrmont = {lat: lat, lng: lng};

            map = new google.maps.Map(document.getElementById('map'), {
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: pyrmont,
                zoom: 17
            });

            infowindow = new google.maps.InfoWindow();

            currentLocation(pyrmont);

            var service = new google.maps.places.PlacesService(map);
            service.radarSearch({
                location: pyrmont,
                radius: {{ radius }},
                keyword: '{{ keyword }}',
                //types: ['{{ keyword }}']
            }, callback);
        }

        function currentLocation(pyrmont) {
            var contentString = '<div id="informContent">'+
                    '<div id="informBodyContent">'+
                        'Vị trí hiện tại của bạn'+
                    '</div>'+
                   '</div>';

            var marker = new google.maps.Marker({
                map: map,
                position: pyrmont,
                icon: '{{ asset("images/placeholder.png") }}'
            });

            var infowindow = new google.maps.InfoWindow({
                content: contentString
            });
            infowindow.open(map, marker);
        }

        function initMap() {
            window.directionsService = new google.maps.DirectionsService;
            window.directionsDisplay = new google.maps.DirectionsRenderer;

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alert("Geolocation is not supported by this browser.");
            }
        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });
            service = new google.maps.places.PlacesService(map);

            google.maps.event.addListener(marker, 'click', function() {
                directionsDisplay.setMap(null);

                directionsDisplay.setMap(map);
                directionsDisplay.setPanel(document.getElementById('text-directions'));

                calculateAndDisplayRoute(directionsService, directionsDisplay, window.pyrmont, new google.maps.LatLng(place.geometry.location.lat(), place.geometry.location.lng()));

                document.getElementById("right-pannel-info").style.display = "block";

                service.getDetails({
                    placeId: place.place_id
                  }, function(result, status) {

                    infowindow.setContent(result.name);
                    infowindow.open(map, marker);

                    if (status === google.maps.places.PlacesServiceStatus.OK) {

                        var photos = result.photos;
                        var photoSlider = '';
                        var html = '';

                        if(photos && typeof photos!=='undefined' && photos!==null) {
                            photoSlider += '<div class="carousel slide" data-ride="carousel">';
                            photoSlider += '<div class="carousel-inner" role="listbox">';
                            for(var i = 0; i < photos.length; i++) {
                                if(i == 0) 
                                    photoSlider += '<div class="item active">';
                                else 
                                    photoSlider += '<div class="item">';
                                photoSlider += '<img src="'+ photos[i].getUrl({'maxWidth': 420, 'maxHeight': 178}) +'" />';
                                photoSlider += '</div>';
                            }
                            photoSlider += '</div></div>';
                        }

                        html += photoSlider;
                        html += '<address>';
                        if(result.vicinity) {
                            html += '<p><strong>Địa chỉ: </strong>' + result.vicinity + '</p>';
                        }
                        if(result.formatted_phone_number) {
                            html += '<p><strong>Điện thoại: </strong>' + result.formatted_phone_number + '</p>';
                        }
                        if(result.website) {
                            html += '<p><strong>Website: </strong><a target="_blank" href="' + result.website + '">' + result.website + '</a></p>';
                        }
                        html += '</address>';

                        $('.right-pannel').find('.panel-body #info-details').html('').append(html);
                        $('.carousel').carousel();
                        $('.right-pannel').find('.panel-heading .panel-title').text(result.name);
                    }
                });
            });
        }

        function calculateAndDisplayRoute(directionsService, directionsDisplay, origin, destination) {
            directionsService.route({
                origin: origin,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            }, function(response, status) {
                if (status === google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Directions request failed due to ' + status);
                }
            });
        }

        function removeDirections() {
            directionsDisplay.setMap(null);

            map.panTo(window.pyrmont);
            map.setZoom(17);
        }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZuajsfUKx1WYjUunrQzx0VKdf6o6i_vk&signed_in=true&libraries=places,visualization&callback=initMap" async defer></script>
    <script type="text/javascript" src="{{ asset('js/jquery-1.11.3.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/scripts.js') }}"></script>
{% endblock %}