{% extends 'base.html.twig' %}

{% block body %}
	<div class="page-header">
    	<h1>Trang không tìm thấy</h1>
    </div>

    <p>
        Bạn đang truy cập đến đường dẫn không đúng, vui lòng trở lại <a href="{{ path('_home') }}">trang chủ</a>.
    </p>
{% endblock %}