/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritence from `body` */
    background-color: #fff;
    border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
    height: 100%;
}
body {
    color: #3b3b3b;
    text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}
.page-content {
    display: block;
    position: relative;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}
.cover-heading, p.lead {
    color: #3b3b3b;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
}


/*
 * Header
 */
.masthead-brand {
    margin-top: 10px;
    margin-bottom: 10px;
}

.masthead-nav > li {
    display: inline-block;
}
.masthead-nav > li + li {
    margin-left: 20px;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 768px) {
    .masthead-brand {
        float: left;
    }
    .masthead-nav {
        float: right;
    }
}


/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

/*
 * Navbar
 */
.navbar .search-form {
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 7px;
}
.navbar .search-form .dropdown {
    display: inline-block;
}
.navbar .search-form .dropdown-menu li {
    padding: 0 5px 5px 5px;
}
.navbar .search-form .dropdown-menu img {
    max-width: 50px;
    height: auto;
}
.navbar-right .btn-info {
    margin-top: 7px;
}

/*
 * Search Box
 */
.site-wrapper .search-form {
    height: 50px;
    background-color: #fff;
    border-radius: 4px;
    position: relative;
    box-shadow: 2px 2px 5px 0 #333;
}
.site-wrapper .search-form .search-dropdown {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    border-right: 1px solid #eee;
    border-radius: 5px 0 0 5px;
}
.site-wrapper .search-form .search-submit {
    float: right;
    position: absolute;
    top: 0;
    right: 0;
    height: 50px;
    width: 70px;
    border: none;
    border-radius: 0 4px 4px 0;
    background-color: #0bf;
    font-size: 20px;
    color: #fff;
    -moz-transition: all ease .3s;
    text-align: center;
    line-height: 45px;
    -o-transition: all ease .3s;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    cursor: pointer;
}
.site-wrapper .search-form .search-box {
    width: 100%;
    line-height: 48px;
    border: none;
    height: 49px;
    padding: 0 5px 0 112px;
    border-radius: 5px;
    color: #333;
    font-size: 16px;
}
.site-wrapper .search-form .glyphicon-th {
    position: absolute;
    right: 80px;
    top: 12px;
}

/*
 *Place Types
 */
#place-types .modal-body .type {
    margin-bottom: 15px;
}
#place-types .modal-body .type .img-thumbnail {
    border: 5px solid #ddd;
    padding: 17px;
}
#place-types .modal-body .type .img-thumbnail:hover {
    cursor: pointer;
}
#place-types .type h4 a {
    text-transform: capitalize;
    color: #3b3b3b;
    text-shadow: none;
}
#place-types .type img {
    width: 100%;
    height: auto;
}
#place-types .modal-body span.description, 
#place-types .modal-body span.keyword,
.right-button, .right-pannel #right-pannel-info-expandbtn,
.right-button, .right-pannel #right-pannel-info {
    display: none;
}

#map {
    position: relative;
    height: 100%;
}
.right-button, .right-pannel {
    position: absolute;
    z-index: 1029;
    right: 0;
    bottom: 0;
}
.right-button, .right-pannel #right-pannel-info-expandbtn a:hover {
    text-decoration: none;
}
.right-button, .right-pannel #pannel-info-content {
    overflow: scroll;
}
.right-button, .right-pannel #pannel-info-content #info-details {
    text-align: left;
}
.right-button, .right-pannel button.close {
    position: absolute;
    top: -10px;
    left: -9px;
    background-color: #3b3b3b;
    opacity: 1;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
}
.right-button {
    right: 10px;
}
.right-pannel{
    top: 70px;
    max-width: 420px;
    margin-top: 15px;
}
.right-pannel .carousel.slide img {
    height: 178px;
    width: auto;
}
#remove-directions {
    top: 40px;
}

/*
 * Footer
 */

.mastfoot {
    color: #999; /* IE8 proofing */
    color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */
@media (max-width: 420px) {
    .right-button, .right-pannel #pannel-info-content {
        max-width: 280px;
        max-height: 300px;
    }
}

@media (max-width: 767px) {
    .search-form .search-dropdown {
        font-size: 12px;
        max-width: 100px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    .search-form .search-box {
        font-size: 12px;
        padding-left: 80px;
    }
    .search-form .search-submit {
        font-size: 15px;
        width: 50px;
    }
    .search-form .glyphicon-th {
        right: 60px;
        top: 14px;
    }
    .right-button, .right-pannel #right-pannel-info-expandbtn {
        font-size: 75%;
        display: none;
    }
    #place-types .modal-body .type h4 {
        font-size: 12px;
    }
}

@media (min-width: 768px) {
    /* Pull out the header and footer */
    .masthead {
        position: fixed;
        top: 0;
    }
    .mastfoot {
        position: fixed;
        bottom: 0;
    }
    /* Start the vertical centering */
    .site-wrapper-inner {
        vertical-align: middle;
    }
    /* Handle the widths */
    .masthead,
    .mastfoot,
    .cover-container {
        width: 100%; /* Must be percentage or pixels for horizontal alignment */
    }
    .right-button, .right-pannel #pannel-info-content {
        max-height: 600px;
    }
    .right-button, .right-pannel #right-pannel-info-expandbtn {
        font-size: 90%;
    }
}

@media (min-width: 992px) {
    .masthead,
    .mastfoot,
    .cover-container {
        width: 700px;
    }
}